body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-contain{
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    align-items: center;
    width: 40%;
    height: 70%;
    padding: 40px;
    border-radius: 4%; 
}


#search{
    padding-bottom: 20px;
}

#geoButt{
    width: 50%;
}

